body {
    margin: 0;
    font-family: 'Inter';
}

.container {
    background-color: #bcbbbb;
    height: 100vh;
    width: 100%;
    margin: 0;
}

.header {
    height: 10vh;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;

    justify-content: space-between;

    position: fixed;
    top: 0px;
    width: 100%;
}

.nav_item {
    padding: 0 20px 0 20px;
    margin: 0;
    margin-left: 30px;
    display: flex;
    list-style: none;

    justify-content: space-between;
    align-items: center;
}

.nav_logo { 
    display: flex;
    flex-direction: column;

    font-size: small;
    align-items: center;
}

.logo{
    height: 7vh;
    width: 8vh;
    padding: 0;
}

.nav_home {
    font-size: 18px;
    margin: 0 0 0 50px;
    padding: 0 10px 0 10px;
    background-clip: padding-box;
}

.nav_ranking {
    font-size: 18px;
    padding: 0 10px 0 10px;
}

.nav_home:hover, .nav_ranking:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: #bcbbbb;
}

.has_drop_bar:hover .drop_bar{
    display: block;
}

.has_drop_bar {     
    margin-right: 30px;
    position: relative;
}

#avatar {
    height: 6vh;
    width: 6vh;
    border-radius: 20px;
    cursor: pointer;
}

.nav_username {
    padding-right: 10px;
}

.drop_bar {
    width: 100px;
    list-style: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 92%;

    display: none;

    text-align: center;
    border: 1px solid white;
}

.drop_bar li {
    display: block;
    padding: 5px 5px 5px 5px;
    background-color: #CDCDC3;  

    border: 1px solid white;
}

.footer {
    height: 12vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-evenly;

    position: fixed;
    bottom: 0px;
    width: 100%;
}

.nav_item_footer1, .nav_item_footer2 {
    list-style:none;
    display: flex;
    margin: 0;
}

.nav_item_footer1 {
    margin-top: 23px;
}

.nav_item_footer1 li {
    padding: 0 10px 0 10px;
}

.nav_item_footer2 li {
    padding: 0 2px 0 2px;
}

.icon {
    height: 10px;
    width: 10px;
    padding-bottom: 3px;
}

#ctv {
    font-size: 12px;
}

#logo_footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: small;

    position: fixed;
    bottom: 2vh;
    left: 50px;
}

a {
    color: #0A2749;
    text-decoration: none; /* no underline */
}

.nav_item_footer1 li:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: #bcbbbb;  
}