body {
    margin: 0;
    font-family: 'Roboto';
}

.header {
    margin: 0;
    width: 100%;
    height: 100vh;
    /* background-color:rgb(168, 252, 224); */
    background-image: linear-gradient(to bottom, rgb(10, 195, 115),  rgb(76, 215, 233));

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 100%;
    margin-top: 100px;
    padding-bottom: 10px;

    font-size: 70px;
    font-weight: bold;
    text-align: center;
    font: arial;
    color: rgb(255, 255, 255);

    border-bottom: 2px solid whitesmoke;
}

.ranking {
    width: 100vh;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;

    list-style: none;
    margin-top: 20px;
    padding: 0;
}

.ranking_categories {
    border-bottom: 1px solid whitesmoke;
    box-sizing: content-box;
    padding: 0;
    
    display: flex;
    justify-content: center;
    justify-content: space-around;
    color: aliceblue;
    font-size: large;
    font-weight: bold;
}

.category_rank_number {
    width: 10vh;
    flex: 0.5;
    text-align: center;
    padding: 4px 0 2px;

    border-right: 1px solid whitesmoke;
}

.category_name {
    width: 30vh;
    flex: 8;
    padding: 4px 0 4px;

    border-right: 1px solid whitesmoke;
    padding-left: 10px;
}

.category_score {
    flex: 1.5;
    text-align: center;
    padding: 4px 0 4px;
}

.ranking_item {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    color: aliceblue;
    font-size: large
}

.rank_number {
    width: 10vh;
    flex: 0.5;
    text-align: center;
    padding: 7px 0 7px;

    border-right: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
}

.name {
    width: 30vh;
    flex: 8;
    padding: 7px 0 7px;
    padding-left: 10px;

    border-right: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
}

.score {
    flex: 1.5;
    text-align: center;
    padding: 7px 0 7px;

    border-bottom: 1px solid whitesmoke;
}

.nav_bar {
    height: 10vh;
    background-color: rgb(181, 246, 249);
    display: flex;
    align-items: center;

    justify-content: space-between;

    position: fixed;
    top: 0px;
    width: 100%;
}

.nav_item {
    padding: 0 20px 0 20px;
    margin: 0;
    display: flex;
    list-style: none;

    align-items: center;
}

.logo {
    height: 7vh;
    padding-right: 12px;
}

.nav_username {
    padding-right: 120px;
}

.nav_username:hover .drop_bar{
    display: block;
}

.has_drop_bar { 
    width: 20vh;
    margin-right: 20px;
    position: relative;
}

.drop_bar {
    list-style: none;
    padding: 0;
    margin-right: 20px;
    position: absolute;
    left: 0;
    right: 8.5%;
    top: 100%;

    display: none;

    text-align: center;
    border: 1px solid white;
}

.drop_bar li {
    display: block;
    padding: 5px 5px 5px 5px;
    background-color: wheat;

    border: 1px solid white;
}